.form {
    &.disabled-form {
        opacity: 0.5;
        cursor: not-allowed;

        & button {
            cursor: not-allowed;
            pointer-events: none;
        }

        & input {
            pointer-events: none;
        }
    }
}

.input {
    width: 30px !important;
}

.p-full-length {
    width: 100%;
    position: relative;
}