.form {
    &.disabled-form {
        opacity: 0.5;
        cursor: not-allowed;

        & button {
            cursor: not-allowed;
            pointer-events: none;
        }

        & input {
            pointer-events: none;
        }
    }
}